* {
  margin: 0;
  font-size: 16px;
  box-sizing: border-box;
}
h1, .welcomeScreen, .gameOverScreen{
  margin: 0 auto;
  text-align: center;
}

h1 {
  font-size: 2.2rem;
}

h1, p {
  padding: 20px 0;
}

p {
  text-align: left;
}

main {
  height: 100vh;
  background-color: #4d4d4e;
}

.grid, .gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gameContainer {
  background-color: #000;
}

.grid {
  margin-top: 20px;
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  background-color: #4d4d4e;
}

.grid div {
  /* border: 1px solid #4d4d4e; */
  flex-grow: 1;
  height: calc(100% / 20);
  width: calc(100% / 20)
}

.walls {
  background-color: rgb( 242, 169, 0);
}

section {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 10px;
}
h4 {
  padding: 5px;
  border: 1px solid rgb( 242, 169, 0);
  border-radius: 10px;
  color:rgb( 242, 169, 0)
}

.coin {
  background-image: url(../assets/bitcoin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #4d4d4e;
}

.punk {
  background-size: cover;
  background-image: url(../assets/sprites/Punk/Punk_idle.png);
}
.enemyHome {
  background-color: rgb(102, 97, 97);
}

.cyborg1 {
  background-image: url(../assets/sprites/Cyborg/Cyborg_idle.png);
  background-size: cover;
  
}

.biker1 {
  background-image: url(../assets/sprites/Biker/Biker_idle.png);
  background-size: cover;

}
.biker2 {
  background-image: url(../assets/sprites/Biker/Biker_idle.png);
  background-size: cover;

}
.cyborg2 {
  background-image: url(../assets/sprites/Cyborg/Cyborg_idle.png);
  background-size: cover;
}
@keyframes sprite {
  to { background-position: -288px;}
}


.welcomeScreen, .gameOverScreen {
  position: absolute;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto auto;
  height: 400px;
  width: 400px;
  background-color: rgba(242, 169, 0, .97);
  border: 2px solid #4d4d4e;
  border-radius: 25px;
  box-shadow: 15px 20px 5px rgba(77, 77, 78, .85);
}


.welcomeScreen {
  display: flex;
  
}
.welcomeScreen:first-child, .gameOverScreen > div {
  padding: 20px;
}

.gameOverScreen {
  display: none;
}
.gameOverScreen > div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#startBtn {
  border-radius: 5px;
  background-color: #4d4d4e;
  color: #fff;
  padding: 10px 20px;
  box-shadow: 3px 7px 5px rgba(77, 77, 78, .85);
}
@media only screen and (min-width: 1024px) {
  .grid {
    height: 800px;
    width: 800px;
  }
}