* {
  margin: 0;
  font-size: 14px;
  box-sizing: border-box;
}
h1 {
  margin: 0 auto;
  text-align: center;
}

main {
height: 100vh;
}

.grid, .gameContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .gameContainer {
  background-color: #000;
} */

.grid {
  height: 600px;
  width: 600px;
  flex-wrap: wrap;
  /* background-color: black; */
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: calc(100% / 20);
  width: calc(100% / 20)
}

.walls {
  background-color: orange;
}

section {
  display: flex;
  justify-content: space-between;
  max-width: 600px;
  margin: 0 auto;
}

.coin {
  background-image: url(../assets/bitcoin.png);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #000;
  z-index: -1;
}

.punk {
  /* background-position: center; */
  background-size: cover;
  background-image: url(../assets/sprites/Punk/Punk_idle.png);
  animation: play .8s steps(4) infinite;
}
.enemyHome {
  background-color: rgb(102, 97, 97);
}

.cyborg1 {
  background-image: url(../assets/sprites/Cyborg/Cyborg_run.png);
  background-size: cover;
}